// -----------------------------------------------------------------------------
// Column variables, functions, mixins, placeholders, and styles
// @group Column
// -----------------------------------------------------------------------------

// Variables

// Functions

/// Specifies the size of the grid lines.
/// Think of it like setting the width of the gutters between the columns.
/// @require {variable} $grid-layout
/// @param {variable} $breakpoint - Breakpoint to set grid-column-gap
/// @return {Function}
@function grid-column-margin($breakpoint)
  $grid-config: map-get($grid-layout, $breakpoint)

  $grid-column-width: map-get($grid-config, 'column-width')
  $grid-gutter-width: map-get($grid-config, 'gutter-width')

  @return size($grid-column-width + $grid-gutter-width)

// Mixins

// Placeholders

/// Column component styles
/// @require {mixin} display-flex
/// @require {mixin} flex-column
/// @require {mixin} has-image
/// @require {mixin} is-flex-centered
%Column
  +display-flex

  +flex-column

  &.image-column
    +is-flex-centered

    position: relative

// Styles

// Column
.adm-column
  @extend %Column

.floorplan
  .image-column
    padding-bottom: size($one-dozen)

  .link-column
    padding: size($one-dozen / 3) 0 size($one-dozen)

  .text-column
    padding: size(20) 0

// Responsive Styles

// Desktop

// Tablet

// Mobile
