// -----------------------------------------------------------------------------
// Palette - Brand
// @group variables-colors-brand
// -----------------------------------------------------------------------------

/// Dark Gold - "Cape Palliser"
/// @type {Color}
$color-brand-cape-palliser: rgba(170, 123, 63, 1)

/// Black - "Cod Gray"
/// @type {Color}
$color-brand-cod-gray: rgba(10, 10, 10, 1)

/// Gray - "Rolling Stone"
/// @type {Color}
$color-brand-rolling-stone: rgba(111, 118, 123, 1)

/// Taupe - "Silver Rust"
/// @type {Color}
$color-brand-silver-rust: rgba(203, 195, 188, 1)

/// Gold - "Tussock"
/// @type {Color}
$color-brand-tussock: rgba(191, 141, 74, 1)
